<div class="flex items-center justify-center h-screen bg-blue-900 2-screen">
  <Timer
    @minutes={{this.displayMinutes}}
    @seconds={{this.displaySeconds}}
    @label={{this.currentMode}}
    @isPlaying={{this.isPlaying}}
    @togglePlay={{this.togglePlay}}
  />
</div>